@use "variable" as *;

//dark und bright modus

.modusConsole {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 0.5rem;
  background-color: transparent;
  width: 100%;
  padding: 1rem;

  &__button {
    width: 60px;
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    border: 3px solid $app-heading-color;
    padding: 0.1rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
    background-color: red;
    color: rgb(204, 204, 204);
  }

  &__dark {
    background-color: $backround-color;
    letter-spacing: normal;
    font-weight: normal;
  }
}

//dark und bright modus

.select-category {
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  text-align: center;
  border-radius: 3px;
}
